@font-face {
  font-family: "PPFraktionMono";
  font-weight: normal;
  src: url(./font/PPFraktionMono-Regular.otf);
}

:root {
  --font-mono: "PPFraktionMono", monospace;
  --body-bg-color: #EDEDED;
  --font-color: #434343;
  --body-margin-inline: 1.5rem;
  --body-margin-block: 3rem;
  --font-size: 1.2rem;
  --col-start: 1;
  --col-span: 4;
  --row-start: 1;
  --x-color: #EDEDED;
  --grid-column-width: 20vw;
}

body{
  background-color: var(--body-bg-color);
  color: var(--font-color);
  font-family: var(--font-mono);
  margin-inline: var(--body-margin-inline);
  margin-block-end: var(--body-margin-block);
  font-size: var(--font-size);
}

 header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 4rem;
  padding-block-start: 1rem;
 }

 .channel-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
 }

 .channel-title-wrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1.8rem;
 }

 .button-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
 }

 .button{
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  /* z-index: 3; */
 }

 .button svg{
  width: 0.8rem;
  height: 0.8rem;
  fill: var(--font-color);
 }

 .button-rotate{
  transform: rotate(135deg);
 }

 .shuffle-button{
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
 }

 .shuffle-button svg{
  width: 1.3rem;
  height: 0.9rem;
  fill: var(--font-color);
 }

.shuffle-button-rotate{
  transform: rotate(360deg);
 }

 .channel-description{
  font-size: var(--font-size);
  color: var(--font-color);
  width: 100%;      
  max-width: 60ch;
  overflow: hidden;
  background-color: var(--body-bg-color);
  display: none;
  z-index: 3;
 }

 .channel-description p{
  margin-block-end: 2rem;
 }

 .channel-description-show{
  display: block; 
 }

 .slider-wrapper{
  position: fixed;
  bottom: 2dvh;
  left: 50%;
  transform: translateX(-50%);
}

 .slider{
  -webkit-appearance: none; /* 必须加，否则自定义样式不生效 */
  appearance: none;
  width: 25vw;
  height: 1px;
  background: black;
  outline: none;
  cursor: pointer;
}
/* use pseudo to control the slider thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%; /* 圆形 */
  cursor: pointer;
}

 main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  height: calc(100dvh - 5rem - var(--body-margin-block));
  overflow-x: auto;
  overflow-y: hidden;
  margin-inline-end: calc(-1 * var(--body-margin-inline));
 }

 .grid-column{
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
  height: auto;
  width: var(--grid-column-width);
  overflow: hidden;
  flex-shrink: 0;
 }

 .grid-column > *{
    cursor: pointer;
    min-width: 0;
    grid-column-start: var(--col-start);
    grid-column-end: span var(--col-span);
    grid-row-start: var(--row-start);
 }

 


 .text-block{
  font-size: 0.8rem;
  color: var(--body-bg-color);
  background-color: black;
  width: 100%;
  height: 100%;
  overflow-y: auto; 
  padding: 1rem;
 }

img{
  /* width: 100%; */
  height: 100%;
  max-width: 100%;
  object-fit: Cover;
  display: block;
  border: none;
}



.image-wrapper::after, .embed-wrapper::after, .text-block::after, .attachment-wrapper::after {
  content: none;
}

.has-cross {
  position: relative;
  z-index: 4;
}

/* X cover the image for people to know it can be click to go back */
.has-cross::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background: 
    linear-gradient(to top left, transparent calc(50% - 2px), var(--x-color) calc(50% - 1px), var(--x-color) calc(50% + 1px), transparent calc(50% + 2px)),
    linear-gradient(to top right, transparent calc(50% - 2px), var(--x-color) calc(50% - 1px), var(--x-color) calc(50% + 1px), transparent calc(50% + 2px));
  mix-blend-mode: difference;
}





iframe{
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: Cover;
  display: block;
  border: none;
}

/* for user can use the iframe in .bg-img */
.embed-wrapper iframe {
    pointer-events: none;
}




.bg-img iframe {
    pointer-events: auto;
}

.bg-img{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  display: none;
  background-color: black;
}

.is-active{
  display: block;
  z-index: 3;
}

.is-active img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.is-active-text{
  color: var(--body-bg-color);
  background-color: black;
  font-size: 1.4rem;
  padding-inline: 4rem;
  padding-block: 2rem;

}

.iframe-wrapper, .attachment-wrapper, .embed-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

iframe{
  pointer-events: none;
}

audio{
  display: block;
  width: 100%;
  min-height: 4rem;
}


.hidden{
  display: none;
}

.middle-text{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  color: var(--font-color);
  background-color: var(--body-bg-color);
  pointer-events: none;
  z-index: 2;
}
  


@media screen and (width <= 600px){ 

  :root{
    --font-size: 0.9rem;
    --grid-column-width: 60vw;

  }
  .channel-title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  #channel-title{
    display: block;
    width: 40vw;
  }

  .slider{
    width: 45vw;
  }

  /* .grid-column{
    width: 60vw;
  } */
  /* .middle-text{
    display: none;
  } */
  

}
