@font-face {
  font-family: "PPFraktionMono";
  font-weight: normal;
  src: url(./font/PPFraktionMono-Regular.otf);
}

:root {
  --font-mono: "PPFraktionMono", monospace;
  --body-bg-color: #EDEDED;
  --font-color: #434343;
  --body-margin-inline: 1.5rem;
  --font-size: 1.2rem;
  --col-start: 1;
   --col-span: 4;
   --row-start: 1;
}

body{
  background-color: var(--body-bg-color);
  color: var(--font-color);
  font-family: var(--font-mono);
  margin-inline: var(--body-margin-inline);
  margin-block-end: var(--body-margin-inline);
  font-size: var(--font-size);
}

 header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 4rem;
  padding-block-start: 1rem;
 }

 .channel-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
 }

 .channel-title-wrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1.8rem;
 }

 .button{
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  z-index: 3;
 }

 .button svg{
  width: 0.8rem;
  height: 0.8rem;
  fill: var(--font-color);
 }

 .button-rotate{
  transform: rotate(135deg);
 }

 .channel-description{
  font-size: var(--font-size);
  color: var(--font-color);
   width: 100%;      
  max-width: 60ch;
  overflow: hidden;
  background-color: var(--body-bg-color);
  display: none;
  z-index: 3;
 }

 .channel-description p{
  margin-block-end: 2rem;
 }

 .channel-description-show{
  display: block; 
 }

 main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  height: calc(100dvh - 5rem - var(--body-margin-inline));
  overflow-x: auto;
  overflow-y: hidden;
 }

 .grid-column{
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
  height: auto;
  width: 20vw;
  overflow: hidden;
  flex-shrink: 0;
 }

 .grid-column > *{
    cursor: pointer;
    min-width: 0;
    grid-column-start: var(--col-start);
    grid-column-end: span var(--col-span);
    grid-row-start: var(--row-start);
 }

 


 .text-block{
  font-size: 0.8rem;
  color: var(--body-bg-color);
  background-color: black;
  width: 100%;
  height: 100%;
  overflow-y: auto; 
  padding: 1rem;
 }

img{
  /* width: 100%; */
  height: 100%;
  max-width: 100%;
  object-fit: Cover;
  display: block;
  border: none;
}

iframe{
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: Cover;
  display: block;
  border: none;
}

.embed-wrapper iframe {
    pointer-events: none;
}

.bg-img iframe {
    pointer-events: auto;
}

.bg-img{
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 1;
  overflow: hidden;
  display: none;
}

.is-active{
  display: block;
  z-index: 1;
}

.is-active img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.is-active-text{
  color: var(--body-bg-color);
  background-color: black;
  font-size: 1.4rem;
  padding-inline: 4rem;
  padding-block: 2rem;

}

.iframe-wrapper, .attachment-wrapper, .embed-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

iframe{
  pointer-events: none;
}

audio{
  display: block;
  width: 100%;
  min-height: 4rem;
}


.hidden{
  display: none;
}

.middle-text{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  color: var(--font-color);
  background-color: var(--body-bg-color);
  pointer-events: none;
  /* z-index: 2; */
}
  


@media screen and (width <= 600px){ 

  :root{
    --font-size: 0.9rem;
  }
  .channel-title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  #channel-title{
    display: block;
    width: 40vw;
  }

  .grid-column{
    width: 60vw;
  }
  .middle-text{
    display: none;
  }
  

}
